body{
    background-color:rgb(17, 182, 180);
    margin: 0;
}
.navbar{
    background-color: rgba(1, 67,69,0.8);
    width: 100%;
    height: 75px;
    position: sticky;
    top: 0;
    padding: 0px;
}
.nav{
    display: flex;
}
.navbar .tools{/* ul */
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: auto;

}
#search{/* ul */
    list-style: none;
}
.navbar li {
    width: 80px;
    height: 25px;
    margin: 0px 13px;
    padding: 7px;
    padding-top: 15px;
    text-align: center;
    color: white;
    font-size: 16px;
}
.navbar a:hover {
    color: #0dade2;
    color: rgb(47, 1, 65);
    /* font-weight: bold; */
}
#Special{
    margin-right:0px ;
    border-left: 1px solid white;
    width: 170px;
}
.username-contener{
    padding: 0px;
    display: flex;
    gap: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    
}
.username{
    margin-bottom: 0px;
    margin-top: 0px;
}
.navbar img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover ;
    margin-top: -17px;
}
/*====================================*/
.dashboard-table{
    width: 100%;
    height: fit-content;
    margin-left:0px;
    margin-right: 0px;
}
.course-contener{
    border-radius: 20%;
    width: 235px;
    height: 260px;
    background-color: #a5afb9;
    margin: 0px;
    text-align: center;
    
}
.course-contener:hover{
    box-shadow: 16px 10px 10px 5px rgba(46, 61, 73, 0.2);
}
.course-contener img {
    border-radius: 20%;
    width: 220px;
    height: 140px;
    object-fit: fill;
}
.course-description{
    width: 231px;
    height: 35px;
    padding-top: 5px;
    margin: 0;
    width: 205px;
    height: 34px;
    padding-top: 7px;
    margin: 0;
    padding-left: 10px;
}
.joinBtn{
    border: none;
    border-radius: 55%;
    width: 202px;
    height: 47px;
    background-color:#a5afb9 ;
    color: white;
    font-size: larger;
    cursor: pointer;

}
.joinBtn:hover{
    color: #0dade2;
    border-bottom: 2px solid white;
}
.joinBtn:active{
    background-color: green;
}
.spacing{
    height: 45px;
}











.footer{
        background-color: #4d5152;
        height: 200px;
        width: 100%;
        margin-top: 80px;
}
