body{
    background-color:rgb(17, 182, 180);
    margin: 0;
}
.navbar{
    background-color: rgba(1, 67,69,0.8);
    width: 100%;
    height: 75px;
    position: sticky;
    top: 0;
    padding: 0px;
}